{% extends 'base.html.twig' %}

{% block title %}Редактирование/{{ course.name }}/StudyOn{% endblock %}

{% block body %}
    <header>
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </header>

    <h1 class="center-h1">{{ course.name }}</h1>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                {% if errors is defined %}
                    <div class="alert alert-danger">
                        {{ errors }}
                    </div>
                {% endif %}
            </div>
            <div class="col"></div>
        </div>
    </div>


    {{ include('course/_form.html.twig', {'button_label': 'Обновить'}) }}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="line">
                </div>
                <a href="{{ path('course_show', {'id': course.id}) }}" class="btn btn-light" role="button">К курсу</a>
            </div>
        </div>
    </div>



    <footer>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}
