{% extends 'base.html.twig' %}

{% block title %}Курсы/StudyOn{% endblock %}

{% block body %}
    <header>
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </header>

    <h1 class="center-h1">Курсы</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="line">
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="row">
                <div class="col text-center">
                    <a href="{{ path('course_new') }}" class="btn btn-light" role="button">Новый курс</a>
                </div>
            </div>
            <br>
        {% endif %}
    </div>

    <div class="container" id="courses">
    {% for course in courses %}
        <div class="row course border border-dark shadow p-3 mb-5 bg-white">
            <div id="course-{{ course.code }}" class="col text-center p-0">
                <h3>
                    {{ course.name }}
                </h3>
                {% if course.description is not empty %}
                    <div class="course-description">
                        {{ course.description }}
                    </div>
                {% endif %}
                <div class="line">
                    <div class="price">
                        {% if infoPurchases[course.code] is defined %}
                            {% if 'buy' == infoPrices[course.code].type %}
                                <span>Куплено</span>
                            {% elseif 'rent' == infoPrices[course.code].type %}
                        <span>Арендовано до {{ infoPurchases[course.code].createdAt }}</span>
                            {% else %}
                               <span> Добавлено бесплатно</span>
                            {% endif %}
                        {% else %}
                            {% include('course/pay.html.twig') with {'course': course, 'infoPrices': infoPrices} %}

                            {% if 'buy' == infoPrices[course.code].type %}
                                <a role="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCenter-{{ course.code }}">
                                    Купить за {{ infoPrices[course.code].price ~ 'р.' }}
                                </a>
                            {% elseif 'rent' == infoPrices[course.code].type %}
                                <a role="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCenter-{{ course.code }}">
                                    Арендовать за {{ infoPrices[course.code].price ~ 'р.' }}
                                </a>
                            {% else %}
                                <a role="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCenter-{{ course.code }}">
                                    Добавить бесплатно
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="linq-button">
                    <a href="{{ path('course_show', {'id': course.id}) }}">Просмотреть</a>
                </div>
            </div>
        </div>
    {% else %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col row border border-primary shadow p-3 mb-5 bg-white">
                    <div class="col-10 text-center">
                        Курсы отсутствуют.
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <footer>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}
