{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}/StudyOn{% endblock %}

{% block body %}
    <header>
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </header>

    <h1 class="center-h1">{{ course.name }}</h1>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% if course.description is not empty %}
                    <br>
                    <div class="course-description">
                        {{ course.description }}
                    </div>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <br>
    {{ include('lesson/index.html.twig') }}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="line">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ path('course_index') }}" class="btn btn-light" role="button">К списку курсов</a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('course_edit', {'id': course.id}) }}" class="btn btn-light" role="button">Редактировать
                    курс</a>

                <a href="{{ path('lesson_new', app.request.query.all|merge({ 'course_id': course.id })) }}"
                   class="btn btn-light" role="button">Добавить урок</a>

                {{ include('course/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>

    <footer>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </footer>

{% endblock %}
