{% extends 'base.html.twig' %}

{% block title %}Авторизация / Study-On{% endblock %}

{% block body %}

    <header>
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </header>

    <h1 class="text-center">Авторизация</h1>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
            <div class="col"></div>
        </div>

        <div class="controls">
            <form method="post">

                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email-input" class="form-label">E-mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="email-input"
                                   class="form-control"
                                   required autofocus>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="password-input" class="form-label">Пароль</label>
                            <input type="password" name="password" id="password-input" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </div>
                    </div>
                    <div class="col"></div>
                </div>

                {#<div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <div class="form-group">
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Запомнить меня
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>#}
                <div class="text-center">
                    <button class="btn btn-outline-dark" type="submit">
                        Войти
                    </button>
                </div>

            </form>
        </div>
    </div>
    <footer>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}
