<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <header>
        {% block header %}
            {{ include('header.html.twig') }}
            <!-- flash message -->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}
    </header>
    <footer>
        {% block footer %}
            {{ include('footer.html.twig') }}
        {% endblock %}
    </footer>
{% endblock %}
</body>
</html>
