{% extends 'base.html.twig' %}

{% block title %}Профиль/StudyOn{% endblock %}

{% block body %}
    <header>
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </header>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 text-center">
                <h4 id="email">E-mail: {{ user.username }}</h4>
                <h4 id="role">Роль:
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    Администратор
                {% else %}
                    Пользователь
                {% endif %}
                </h4>
                <h4 id="balance">Баланс: {{ user.balance }}</h4>
                <a href="{{ path('course_index') }}" class="btn btn-outline-dark" role="button">Курсы</a>
                <a href="{{ path('user_transactions') }}" class="btn btn-outline-dark" role="button">История транзакций</a>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <footer>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}
